@model List<MusicService.Models.Track>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
@Html.Partial("_Player")
<ul>
    <div class="sm2-inline-list">
        @foreach (var audio in Model)
        {
            <div class="ui360 ui360-vis">
                <a href=@Uri.EscapeUriString("http://localhost:64083" + audio.FileName)>
                    @Html.DisplayFor(modelItem => audio.Name)
                </a>
            </div>
        }
    </div>
</ul>